/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  position: relative;
}
.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1px;
}

.heading-container {
  margin-bottom: 1px;
  align-self: center;
}

.heading-text {
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
  color: #000000;
}

.columns-container {
  display: flex;
  justify-content: space-around;
}

.left-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  flex: 1;
  height: 450px;
  width: 100%;
}

.glass-button {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.glass-button:hover {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
}

